<a href="https://colab.research.google.com/github/laulm/Angular/blob/master/DF_Example_completed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Create a Data Frame

In [ ]:
import pandas as pd
technologies= {
    'Courses':["Spark","PySpark","Spark","Java","PySpark","PHP"],
    'Fee' :[22000,25000,23000,24000,26000,27000],
    'Duration':['30days','50days','30days','60days','35days','30days']
          }
df = pd.DataFrame(technologies)

### Show the Data Frame

In [2]:
print(df)

   Courses    Fee Duration
0    Spark  22000   30days
1  PySpark  25000   50days
2    Spark  23000   30days
3     Java  24000   60days
4  PySpark  26000   35days
5      PHP  27000   30days

### Filter Columns

In [3]:
df2=df.filter(items=['Courses','Fee'])
print(df2)

   Courses    Fee
0    Spark  22000
1  PySpark  25000
2    Spark  23000
3     Java  24000
4  PySpark  26000
5      PHP  27000

### Filter columns using like

In [4]:
# Filter Columns using like
df3 = df.filter(like='ration', axis=1)
print(df2)

   Courses    Fee
0    Spark  22000
1  PySpark  25000
2    Spark  23000
3     Java  24000
4  PySpark  26000
5      PHP  27000

### Delete Columns

In [6]:
print("This is the Dataframe before deleting the column")
print(df)
# Delete column with deth
del df["Duration"]
print("This is the Dataframe after deleting column Duration")
print(df)

This is the Dataframe before deleting the column
   Courses    Fee Duration
0    Spark  22000   30days
1  PySpark  25000   50days
2    Spark  23000   30days
3     Java  24000   60days
4  PySpark  26000   35days
5      PHP  27000   30days
This is the Dataframe after deleting column Duration
   Courses    Fee
0    Spark  22000
1  PySpark  25000
2    Spark  23000
3     Java  24000
4  PySpark  26000
5      PHP  27000

### Add a new column

In [7]:
# Declare a list that is to be converted into a column
schools = ['Voca', 'CCH', 'Prepa', 'Bacho', 'CONALEP', 'Cetis']

print("This is the Dataframe before add a column")
print(df)

# Equating it to the list
df['Schools'] = schools

print("This is the Dataframe after add a column schools")
print(df)

This is the Dataframe before add a column
   Courses    Fee
0    Spark  22000
1  PySpark  25000
2    Spark  23000
3     Java  24000
4  PySpark  26000
5      PHP  27000
This is the Dataframe after add a column schools
   Courses    Fee  Schools
0    Spark  22000     Voca
1  PySpark  25000      CCH
2    Spark  23000    Prepa
3     Java  24000    Bacho
4  PySpark  26000  CONALEP
5      PHP  27000    Cetis

### References

* https://sparkbyexamples.com/pandas/pandas-dataframe-filter/
* https://www.educative.io/answers/how-to-delete-a-column-in-pandas